@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
   font-family: 'Cormorant Garamond', serif;
   background: #3AA1AA;
}

p{
   padding: 20px;
}

._textShadow {
   text-shadow: 1px 1px 1px black;
}

@layer components {
 .main_grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background: #3AA1AA;
    height:850px;
    grid-template-areas: 
    'a b';
 }

 @media only screen and (max-width: 1024px) {
  .main_grid{
    display:grid;
    grid-template-columns: 1fr;
    height:100%;
    grid-template-areas: 
    'b'
    'a';
 }
 }


 /* //*LEFT SQ ********/
 .left-sq{
    border-right: solid 2px #35373d;
    /* height:100vh; */
    /* background: green; */
    grid-area: a;
 }

 @media only screen and (max-width: 1024px) {
  .left-sq{
    height:100%;
 }
 }

 

 /* //*END LEFT SQ ********/

 /* //*RIGHT SQ ********/
 .right-sq{
    padding: 25px;
    grid-area: b;
 }
}

@media only screen and (max-width: 1024px) {
  .right-sq{
    height:100%;
 }
 }
 
 @media only screen and (max-width: 768px) {
   .right-sq{
     height:100%;
     padding: 5px 15px;
  }
  }

 /* //*END RIGHT SQ ********/
 
 
 
 